# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import Google API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [11]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "../Weather_Database/WeatherPy_database.csv"

# Load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")

# Display sample data
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Staryy Nadym,HT,65.6118,72.6842,-24.32,99,10,5.08,clear sky
1,1,Lompoc,HT,34.6391,-120.4579,55.85,100,100,5.75,overcast clouds
2,2,Kahului,HT,20.8947,-156.4700,66.22,82,0,3.44,clear sky
3,3,Mar Del Plata,HT,-38.0023,-57.5575,73.94,63,0,18.41,clear sky
4,4,Anadyr,HT,64.7500,177.4833,-16.10,69,0,13.42,clear sky

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [12]:
# Prompt the user to enter the minimum temperature criteria
min_temp = float(input("What is the minimun temperature you would like for your trip? "))

# Prompt the user to enter the maximum temperature criteria
max_temp = float(input("What is the maximun temperature you would like for your trip? "))

What is the minimun temperature you would like for your trip? 75
What is the maximun temperature you would like for your trip? 90

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [14]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] >= min_temp) & (city_data_df["Max Temp"] <= max_temp)]
                                    
# Display sample data
preferred_cities_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
11,11,Atuona,HT,-9.8000,-139.0333,77.22,78,19,14.43,light rain
12,12,Itarema,HT,-2.9248,-39.9167,84.24,65,20,13.42,few clouds
15,15,Mount Isa,HT,-20.7333,139.5000,80.37,65,100,8.05,light rain
19,19,Omaruru,HT,-21.4333,15.9333,87.15,32,90,18.16,light rain
20,20,Bambous Virieux,HT,-20.3428,57.7575,84.45,58,20,8.05,few clouds

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [17]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities_df = preferred_cities_df.dropna(axis="index", how="any")

# Display sample data
clean_travel_cities_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
11,11,Atuona,HT,-9.8000,-139.0333,77.22,78,19,14.43,light rain
12,12,Itarema,HT,-2.9248,-39.9167,84.24,65,20,13.42,few clouds
15,15,Mount Isa,HT,-20.7333,139.5000,80.37,65,100,8.05,light rain
19,19,Omaruru,HT,-21.4333,15.9333,87.15,32,90,18.16,light rain
20,20,Bambous Virieux,HT,-20.3428,57.7575,84.45,58,20,8.05,few clouds

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [19]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = clean_travel_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# Display sample data
hotel_df.head(10)

               City Country  Max Temp Current Description      Lat       Lng
11           Atuona      HT     77.22          light rain  -9.8000 -139.0333
12          Itarema      HT     84.24          few clouds  -2.9248  -39.9167
15        Mount Isa      HT     80.37          light rain -20.7333  139.5000
19          Omaruru      HT     87.15          light rain -21.4333   15.9333
20  Bambous Virieux      HT     84.45          few clouds -20.3428   57.7575
21            Vaini      HT     75.36          light rain -21.2000 -175.2000
29           Tiarei      HT     77.02          few clouds -17.5333 -149.3333
32       Georgetown      HT     84.13          few clouds   5.4112  100.3354
35            Buala      HT     80.37          light rain  -8.1450  159.5921
39          Camapua      HT     78.58       broken clouds -19.5314  -54.0439

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [20]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df["Hotel Name"] = ""

# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
11,Atuona,HT,77.22,light rain,-9.8000,-139.0333,
12,Itarema,HT,84.24,few clouds,-2.9248,-39.9167,
15,Mount Isa,HT,80.37,light rain,-20.7333,139.5000,
19,Omaruru,HT,87.15,light rain,-21.4333,15.9333,
20,Bambous Virieux,HT,84.45,few clouds,-20.3428,57.7575,
21,Vaini,HT,75.36,light rain,-21.2000,-175.2000,
29,Tiarei,HT,77.02,few clouds,-17.5333,-149.3333,
32,Georgetown,HT,84.13,few clouds,5.4112,100.3354,
35,Buala,HT,80.37,light rain,-8.1450,159.5921,
39,Camapua,HT,78.58,broken clouds,-19.5314,-54.0439,

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [21]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [22]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url, params=params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [23]:
# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
11,Atuona,HT,77.22,light rain,-9.8000,-139.0333,Villa Enata
12,Itarema,HT,84.24,few clouds,-2.9248,-39.9167,"Sea Lounge! Bar, Club & Restaurant"
15,Mount Isa,HT,80.37,light rain,-20.7333,139.5000,ibis Styles Mt Isa Verona
19,Omaruru,HT,87.15,light rain,-21.4333,15.9333,"Kashana, Omaruru, Namibia"
20,Bambous Virieux,HT,84.45,few clouds,-20.3428,57.7575,Casa Tia Villa
21,Vaini,HT,75.36,light rain,-21.2000,-175.2000,Keleti Beach Resort
29,Tiarei,HT,77.02,few clouds,-17.5333,-149.3333,Le Rocher de Tahiti
32,Georgetown,HT,84.13,few clouds,5.4112,100.3354,Cititel Penang
35,Buala,HT,80.37,light rain,-8.1450,159.5921,Maringe Lagoon Lodge
39,Camapua,HT,78.58,broken clouds,-19.5314,-54.0439,Comercial Estrela

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [24]:
# Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna(axis="index", how="any")

# Display sample data
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
11,Atuona,HT,77.22,light rain,-9.8000,-139.0333,Villa Enata
12,Itarema,HT,84.24,few clouds,-2.9248,-39.9167,"Sea Lounge! Bar, Club & Restaurant"
15,Mount Isa,HT,80.37,light rain,-20.7333,139.5000,ibis Styles Mt Isa Verona
19,Omaruru,HT,87.15,light rain,-21.4333,15.9333,"Kashana, Omaruru, Namibia"
20,Bambous Virieux,HT,84.45,few clouds,-20.3428,57.7575,Casa Tia Villa
21,Vaini,HT,75.36,light rain,-21.2000,-175.2000,Keleti Beach Resort
29,Tiarei,HT,77.02,few clouds,-17.5333,-149.3333,Le Rocher de Tahiti
32,Georgetown,HT,84.13,few clouds,5.4112,100.3354,Cititel Penang
35,Buala,HT,80.37,light rain,-8.1450,159.5921,Maringe Lagoon Lodge
39,Camapua,HT,78.58,broken clouds,-19.5314,-54.0439,Comercial Estrela

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [25]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [26]:
# Set the file name.
output_data_file = "WeatherPy_vacation.csv"

# Create a CSV file by using the clean_hotel_df DataFrame
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [53]:
# Review the formatting template provided
info_box_template = """
<dl>

<dt> Hotel Name: </dt>
<dd> {Hotel Name} </dd>

<dt> City: </dt>
<dd> {City} </dd>

<dt> Country: </dt>
<dd> {Country} </dd>

<dt>  Weather Description: </dt>
<dd> {Current Description} </dd>

<dt> Max Temp: </dt>
<dd> {Max Temp} °F </dd>

<dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [54]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

['\n<dl>\n\n<dt> Hotel Name: </dt>\n<dd> Villa Enata </dd>\n\n<dt> City: </dt>\n<dd> Atuona </dd>\n\n<dt> Country: </dt>\n<dd> HT </dd>\n\n<dt>  Weather Description: </dt>\n<dd> light rain </dd>\n\n<dt> Max Temp: </dt>\n<dd> 77.22 °F </dd>\n\n<dl>\n',
 '\n<dl>\n\n<dt> Hotel Name: </dt>\n<dd> Sea Lounge! Bar, Club & Restaurant </dd>\n\n<dt> City: </dt>\n<dd> Itarema </dd>\n\n<dt> Country: </dt>\n<dd> HT </dd>\n\n<dt>  Weather Description: </dt>\n<dd> few clouds </dd>\n\n<dt> Max Temp: </dt>\n<dd> 84.24 °F </dd>\n\n<dl>\n',
 '\n<dl>\n\n<dt> Hotel Name: </dt>\n<dd> ibis Styles Mt Isa Verona </dd>\n\n<dt> City: </dt>\n<dd> Mount Isa </dd>\n\n<dt> Country: </dt>\n<dd> HT </dd>\n\n<dt>  Weather Description: </dt>\n<dd> light rain </dd>\n\n<dt> Max Temp: </dt>\n<dd> 80.37 °F </dd>\n\n<dl>\n',
 '\n<dl>\n\n<dt> Hotel Name: </dt>\n<dd> Kashana, Omaruru, Namibia </dd>\n\n<dt> City: </dt>\n<dd> Omaruru </dd>\n\n<dt> Country: </dt>\n<dd> HT </dd>\n\n<dt>  Weather Description: </dt>\n<dd> light rain </dd>\n\n<dt> Max Temp: </dt>\n<dd> 87.15 °F </dd>\n\n<dl>\n',
 '\n<dl>\n\n<dt> Hotel Name: </dt>\n<dd> Casa Tia Villa </dd>\n\n<dt> City: </dt>\n<dd> Bambous Virieux </dd>\n\n<dt> Country: </dt>\n<dd> HT </dd>\n\n<dt>  Weather Description: </dt>\n<dd> few clouds </dd>\n\n<dt> Max Temp: </dt>\n<dd> 84.45 °F </dd>\n\n<dl>\n',
 '\n<dl>\n\n<dt> Hotel Name: </dt>\n<dd> Keleti Beach Resort </dd>\n\n<dt> City: </dt>\n<dd> Vaini </dd>\n\n<dt> Country: </dt>\n<dd> HT </dd>\n\n<dt>  Weather Description: </dt>\n<dd> light rain </dd>\n\n<dt> Max Temp: </dt>\n<dd> 75.36 °F </dd>\n\n<dl>\n',
 '\n<dl>\n\n<dt> Hotel Name: </dt>\n<dd> Le Rocher de Tahiti </dd>\n\n<dt> City: </dt>\n<dd> Tiarei </dd>\n\n<dt> Country: </dt>\n<dd> HT </dd>\n\n<dt>  Weather Description: </dt>\n<dd> few clouds </dd>\n\n<dt> Max Temp: </dt>\n<dd> 77.02 °F </dd>\n\n<dl>\n',
 '\n<dl>\n\n<dt> Hotel Name: </dt>\n<dd> Cititel Penang </dd>\n\n<dt> City: </dt>\n<dd> Georgetown </dd>\n\n<dt> Country: </dt>\n<dd> HT </dd>\n\n<dt>  Weather Description: </dt>\n<dd> few clouds </dd>\n\n<dt> Max Temp: </dt>\n<dd> 84.13 °F </dd>\n\n<dl>\n',
 '\n<dl>\n\n<dt> Hotel Name: </dt>\n<dd> Maringe Lagoon Lodge </dd>\n\n<dt> City: </dt>\n<dd> Buala </dd>\n\n<dt> Country: </dt>\n<dd> HT </dd>\n\n<dt>  Weather Description: </dt>\n<dd> light rain </dd>\n\n<dt> Max Temp: </dt>\n<dd> 80.37 °F </dd>\n\n<dl>\n',
 '\n<dl>\n\n<dt> Hotel Name: </dt>\n<dd> Comercial Estrela </dd>\n\n<dt> City: </dt>\n<dd> Camapua </dd>\n\n<dt> Country: </dt>\n<dd> HT </dd>\n\n<dt>  Weather Description: </dt>\n<dd> broken clouds </dd>\n\n<dt> Max Temp: </dt>\n<dd> 78.58 °F </dd>\n\n<dl>\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [55]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

        Lat       Lng
11  -9.8000 -139.0333
12  -2.9248  -39.9167
15 -20.7333  139.5000
19 -21.4333   15.9333
20 -20.3428   57.7575
21 -21.2000 -175.2000
29 -17.5333 -149.3333
32   5.4112  100.3354
35  -8.1450  159.5921
39 -19.5314  -54.0439

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [56]:
# Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Create a figure to add the Google map as a layer
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(markers)

# Display the figure containing the map
fig

Figure(layout=FigureLayout(height='420px'))